<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Huiling Liu</h1>
		<p>Welcome to my personal blog.</p>
		<p>It's a plain application I made for the first time.</p>
		<p>If you'd like to follow me, find me on Twitter <a href="http://twitter.com/HuilingLiu1203">@HuilingLiu</a>.
    </p>
	</div>
</div>
